body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button.active{
  background-color: #3700b3;
}


.orderByPrice.desc{
  background: green;
}

.orderByPrice.asc{
  background: rgb(255, 166, 0);
  color: #000;
}

.itemsCategories {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .btnPrice{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  

